section {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
}
.keyboard {
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: #888888;
    border: 3px solid #222222;
    border-radius: 5px;
}
.keyboard-row {
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}