html {
    overflow-y: hidden;
}
section {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
}
.keyboard {
    display: block;
    justify-content: baseline;
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: #888888;
    border: 3px solid #222222;
    border-radius: 5px;
}
.keyboard-row {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}
.keyboard__key {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-bottom: 2px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background: #444444;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
.active {
    background: #2cd2e8;
}
.eng {
    display: none;
}
.hidden {
    display: none;
}
.backspace {
    width: 100px;
}
.tab {
    width: 50px;
}
.del {
    width: 44px;
}
.enter {
    width: 86px;
}
.space {
    width: 330px;
}
.anime {
    border-radius: 50%;
    transition: border-radius 0.35s;
}